NODE_ENV=development
PORT=3000

# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:1234@localhost:5432/citycare_db?schema=public"

JWT_ACCESS_SECRET="hgyyx6L09SvxapzdiHDnTJsQxnczBvz2fKWqkbekvLXKjodaQZ1d8N28XjDqKC+tXeT16uLsIKquLEHpXKQuMw=="
JWT_REFRESH_SECRET="Dab5wjM0xmtrm6TpF1HNStmk1AJFblOsj8Zq3AOoWVFrNvIWp+xNA7AmaBZVPoE1T7L+TsKK0EEN0Ib2kmHYaw=="

JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"
BCRYPT_SALT_ROUNDS=10

# Token Expiries in MS
ACCESS_TOKEN_MAX_AGE=900000
REFRESH_TOKEN_MAX_AGE=604800000

# Front-End URL
SITE_URL="http://localhost:5173"
URL_FILE_SIZE="45mb"
MULTER_FILE_SIZE=45

# Firebase Admin Google Authentication (GCP)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

# Stripe Payment Gateway (For Premium / Specialized Services)
STRIPE_SECRET_KEY="sk_test_placeholder_key"
STRIPE_WEBHOOK_SECRET="whsec_placeholder_key"
DEFAULT_PREMIUM_FEE=25.00


# Cloudinary Storage (Optional)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Email Notification Service (Gmail SMTP via Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="CityCare Pro <noreply@citycare.gov>"
